<!DOCTYPE html>
<html>
<head>
  <title>edit by mymaster</title>
  <title>edit by mymaster</title>
  <title>edit by mymaster</title>
  <title>edit by mymaster</title>
  <title>edit by mymaster</title>
  <title>edit by mymaster</title>
  <title>edit by </title>
  <title>Workspace</title>
  <title>Workspace</title>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
